body {
    text-align: center;
    font-family: Roboto;
    background-color: blueviolet;
}

.container {
    margin-top: 100px;
    background-color: white;
    max-width: 600px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 8px rgb(50, 50, 50);
}

#question {
    min-height: 54px;
    font-size: 36px;
}

#timeLeft {
    font-size: 24px;
    display: inline-block;
    position: relative;
}

#plusOne {
    color: green;
    position: absolute;
    right: -40px;
}